/*
 * Button component
 */
.btn {
  display: inline-block;
  position: relative;
  padding: 7px 60px 7px 66px;

  font-size: 30px;
  @include montserrat--bold;
  color: map-get($colors, primary);
  background: map-get($colors, gray);
  border: none;
  border-radius: 30px;
  text-align: center;
  leading-trim: both;
  cursor: pointer;

  transition: ease-in-out 0.2s;

  &::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    top: 50%;
    left: 14px;

    background: url("/assets/img/plus.svg") no-repeat center;
    background-size: contain;

    transform: translateY(-50%);
  }

  &:hover {
    background: lighten(map-get($colors, gray), 1%);
  }

  &:active {
    background: darken(map-get($colors, gray), 2%);
  }
}
